name: cron
on:
 schedule:
   - cron: '* * * * *'  # (minute) (hour) (day of month) (month of year) (day of week)

jobs:
  cron:
   runs-on: ubuntu-latest

   steps:
     - name: Clone repo
       uses: actions/checkout@v3

     - name: setup python
       uses: actions/setup-python@v5
       with:
         python-version: 3.10

     - name: run py
       run: python datetimefile.py