name: run py script
on: push

jobs:
  python:
    runs-on: ubuntu-latest

    steps:
      - name: clone repo
        uses: actions/checkout@v3

      - name: setup py
        uses: actions/setup-python@v5
        with:
          python-version: "pypy3.10"

      - name: run py
        run: python helloworld.py